<app-homeheader></app-homeheader>
<div class="midComPad">             <!--midComPad is defined in styles.css -->
  <div class="single_about row">
    <div class="col-lg-6 col-md-12 text-center about_left">
        <div class="about_thumb" class="midComPad">
            <img src="./assets/aboutus.jpg"  height=440 alt="">
        </div>
    </div>
    <div class="col-lg-6 col-md-12 ">
        <div class="about_content">
            <h1>
              <br>
                We are Non-Profit organisation serving for the People and through the People <br>
                    
            </h1>
            <p style="font-size:20px">
              
                    Their multiply doesn't behold shall appear living heaven second 
                    roo lights. Itself hath thing for won't herb forth gathered good 
                    bear fowl kind give fly form winged for reason
            </p>      
            <p style="font-size:20px">
                    Land their given the seasons herb lights fowl beast whales it 
                    after multiply fifth under to it waters waters created heaven 
                    very fill agenc to. Dry creepeth subdue them kind night behold 
                    rule stars him grass waters our without 
            </p>
            
        </div>
    </div>
</div>  
</div>
<app-footer></app-footer>

